<template>
  <q-page class="text-center">
    <div>{{ $t('Fences') }}</div>

    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eius fuga inventore numquam quidem. Facere
      ipsum maiores neque quidem sunt. A aut consequatur corporis culpa cum doloremque dolorum eaque eius et eveniet
      expedita facere impedit laudantium minima minus, nesciunt nihil nostrum odio perspiciatis quae quam quia quod
      ratione rem similique sit, tenetur ullam voluptas voluptatem voluptatibus. Adipisci aliquid cumque, deleniti dicta
      dolores dolorum eveniet, facere ipsam minus molestias nihil odit quas quisquam rem sed sunt velit vero voluptates!
      Ab accusantium assumenda at corporis delectus eius, hic illum ipsam ipsum labore laborum maxime modi nihil nisi
      officia optio pariatur praesentium provident quam qui quisquam sint soluta suscipit temporibus voluptates?
      Accusantium aliquid aperiam aut commodi consectetur consequatur cumque dicta dolor eaque earum eligendi error esse
      ipsa molestiae molestias necessitatibus nulla praesentium, quae quod repellendus sit tempora temporibus, velit
      vero voluptas? Accusantium at, beatae commodi consequuntur culpa deleniti dolor ducimus eaque earum, eos error
      esse est excepturi fugit hic inventore ipsa iure magnam modi natus nostrum odit quam quidem quis ratione
      recusandae reiciendis rem suscipit tenetur voluptate! Alias impedit odit quos! Ab aperiam deleniti doloremque
      ducimus eius excepturi impedit in, inventore labore laborum maiores mollitia natus, placeat quisquam recusandae
      rem, voluptate. A, accusamus beatae consequuntur dignissimos dolorum eos fugiat labore magni minus necessitatibus
      neque numquam optio quam quis quisquam sapiente voluptatibus. Aliquam dolore labore non tenetur voluptatem?
      Consequuntur delectus distinctio, fugiat, impedit minus neque nihil quas quia quo, soluta tempore unde voluptatum!
      Accusamus labore laborum libero molestiae porro suscipit tempore, veritatis vitae voluptate.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam asperiores at eos excepturi laboriosam
      nemo officia? Ad adipisci alias amet aspernatur, blanditiis consequuntur culpa dicta dignissimos dolor dolorem
      doloremque earum eligendi enim eos esse facilis id incidunt itaque iure laboriosam nam natus non nulla officiis
      omnis perferendis, provident quaerat quibusdam, quo reprehenderit sed tempore temporibus vel velit veritatis vero
      voluptatem. Consectetur dignissimos dolorem esse fugiat incidunt labore non perferendis quibusdam. Alias
      aspernatur consequuntur doloremque dolores ex fuga incidunt inventore recusandae ut! Alias architecto aspernatur
      autem blanditiis cumque eveniet fugiat fugit impedit in ipsa labore, laudantium molestiae natus quisquam rem
      repellat similique sint ut velit voluptatibus. Accusantium deserunt dicta impedit, labore libero molestiae neque
      quidem soluta tempora unde. Ab asperiores atque corporis illo itaque neque. At consequatur fugit incidunt minima
      necessitatibus recusandae sequi veniam. Ab asperiores at consequuntur culpa debitis deleniti dolorem dolorum est
      eum fugiat ipsam itaque laudantium, maxime molestiae natus nulla odit optio quia quos tenetur. Accusamus aut
      cumque, debitis doloremque ducimus enim ipsa ipsam magni minima minus modi mollitia obcaecati officiis pariatur
      perspiciatis, repellat velit, vero! Amet culpa doloribus enim fugit iste itaque, laudantium maxime minus nam neque
      odio provident quas quod repellat sapiente, sunt voluptatem? Accusantium adipisci consectetur corporis cumque
      cupiditate eum expedita explicabo facilis inventore ipsum iure maiores molestiae nemo possimus, quibusdam quidem
      rerum sapiente sed soluta vel vitae voluptas voluptatibus. Accusamus, commodi doloribus eligendi est explicabo
      illum libero neque nisi non obcaecati placeat, provident quam quas quo quos repellat saepe sapiente sint tempore
      vero voluptas voluptate, voluptatibus? Animi aut consequuntur cum dolor repudiandae rerum tenetur velit! Accusamus
      aperiam eos eum impedit ipsa magni necessitatibus quas sed sint vitae! Accusantium adipisci aliquam aliquid autem
      consequatur debitis distinctio dolor ea, eius eligendi est et excepturi fugiat illum iure, magni minus modi
      molestiae mollitia natus nulla perspiciatis placeat sed sit sunt voluptatem voluptates? Asperiores blanditiis
      commodi consequuntur culpa, cumque eaque esse hic in iusto magnam maxime molestias nisi quas qui quia reiciendis
      saepe sint sunt unde vel vero voluptas voluptatem. Dignissimos doloremque doloribus explicabo nulla quaerat.
      Accusantium animi, atque distinctio dolorem ea fugiat ipsam itaque nihil nostrum numquam, officia quod rem tempora
      velit veniam vero vitae? Assumenda cupiditate dolores, eligendi hic maiores mollitia odit placeat quasi similique
      tempora. Amet, aperiam blanditiis consequuntur, dolor doloribus est fugiat impedit laudantium maiores nostrum
      numquam obcaecati odio officia officiis omnis pariatur quas quibusdam. Aliquid aperiam architecto assumenda beatae
      delectus dignissimos distinctio, dolorem doloribus, ducimus est et expedita explicabo facere facilis harum illum
      ipsa iste itaque labore magni minima minus molestiae, nam numquam obcaecati odit pariatur porro provident quidem
      repellat repudiandae sed similique soluta tempore ut vero voluptatibus. Aliquid consequuntur cum cupiditate
      dignissimos distinctio doloremque eaque eos explicabo fugit hic id incidunt, ipsa, laboriosam natus numquam
      perferendis possimus praesentium provident recusandae rem repudiandae sed similique sunt, suscipit tempore. Ab
      consequuntur dignissimos, fuga harum iste odio reiciendis repellat sint? Alias enim natus ratione? Ad alias amet
      aut doloribus ducimus eaque enim esse eum eveniet illum impedit, ipsam modi nesciunt optio, pariatur provident
      quae quasi qui quia recusandae, reprehenderit similique sint voluptatem. Alias atque blanditiis consequatur
      cupiditate dicta distinctio doloremque doloribus, eaque esse hic ipsa obcaecati qui quibusdam soluta temporibus! A
      alias aliquid dolorem error expedita laborum quaerat sit velit! Assumenda distinctio earum et illo impedit!
      Accusamus eaque illo in laborum, molestiae, molestias natus neque officia possimus reiciendis saepe similique sunt
      voluptatum. At deserunt eligendi fugit iusto quisquam repellat suscipit? Ab amet animi assumenda atque autem
      consectetur consequatur ducimus eligendi ex fugit ipsa, laborum minima modi molestias perspiciatis placeat quia
      recusandae repellendus rerum tempora. Accusantium asperiores assumenda atque beatae debitis delectus ducimus,
      expedita fugiat molestiae nam natus omnis provident quae quaerat quo rerum sint, tempore totam. Aspernatur at
      consequatur dolore eos esse et excepturi incidunt inventore ipsa iste, optio possimus quae quaerat quasi, quos
      reiciendis sed, voluptate voluptatibus. Ad alias aliquam amet animi, asperiores doloremque eligendi perferendis
      quas qui recusandae repellendus temporibus ut, voluptates?
    </div>


  </q-page>
</template>

<script>
import {defineComponent, ref} from 'vue';

export default defineComponent({
  name: 'Fences',

  setup() {
    return {
      slide: ref('first')
    }
  }

})
</script>

<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)
</style>
