<template>
  <q-page class="text-center">
    <div>{{ $t('Railings') }}</div>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error expedita facere impedit laboriosam
      necessitatibus, nemo neque perspiciatis recusandae repellat. A animi cum, dignissimos earum eos exercitationem
      iure maiores modi, non, quaerat quam quis recusandae rerum soluta voluptate! A ab accusamus accusantium ad alias
      assumenda aut beatae commodi, dolor dolore ex facilis fuga hic illo illum impedit iste, itaque labore modi natus
      nisi officia omnis provident quaerat quam quas qui repellendus sapiente tempora veritatis vitae voluptas
      voluptatem voluptatibus. Corporis eaque earum expedita ipsa ipsam placeat quaerat sapiente vitae. Accusamus
      aliquid aperiam asperiores consectetur cupiditate dignissimos eligendi expedita, explicabo fuga harum iste iusto
      libero maiores minima minus molestiae mollitia nemo neque, perspiciatis placeat quam quasi quo rem saepe sunt
      tenetur totam unde? Accusamus aliquam aliquid consequatur cumque debitis deserunt, dicta dolorem doloribus earum
      eius eligendi est fugiat hic in laboriosam magni minus quam quas quis, rem sapiente sint ullam vero voluptatum.
    </div>


    <div class="q-pa-md">
      <q-carousel
        arrows
        animated
        v-model="slide"
        height="400px"
      >
        <q-carousel-slide name="first" img-src="https://cdn.quasar.dev/img/mountains.jpg">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">First stop</div>
            <div class="text-subtitle1">Mountains</div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="second" img-src="https://cdn.quasar.dev/img/parallax1.jpg">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">Second stop</div>
            <div class="text-subtitle1">Famous City</div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="third" img-src="https://cdn.quasar.dev/img/parallax2.jpg">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">Third stop</div>
            <div class="text-subtitle1">Famous Bridge</div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="first" img-src="https://cdn.quasar.dev/img/mountains.jpg">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">First stop</div>
            <div class="text-subtitle1">Mountains</div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="second" img-src="https://cdn.quasar.dev/img/parallax1.jpg">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">Second stop</div>
            <div class="text-subtitle1">Famous City</div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="third" img-src="https://cdn.quasar.dev/img/parallax2.jpg">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">Third stop</div>
            <div class="text-subtitle1">Famous Bridge</div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="first" img-src="https://cdn.quasar.dev/img/mountains.jpg">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">First stop</div>
            <div class="text-subtitle1">Mountains</div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="second" img-src="https://cdn.quasar.dev/img/parallax1.jpg">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">Second stop</div>
            <div class="text-subtitle1">Famous City</div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="third" img-src="https://cdn.quasar.dev/img/parallax2.jpg">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">Third stop</div>
            <div class="text-subtitle1">Famous Bridge</div>
          </div>
        </q-carousel-slide>
      </q-carousel>
    </div>


    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error expedita facere impedit laboriosam
      necessitatibus, nemo neque perspiciatis recusandae repellat. A animi cum, dignissimos earum eos exercitationem
      iure maiores modi, non, quaerat quam quis recusandae rerum soluta voluptate! A ab accusamus accusantium ad alias
      assumenda aut beatae commodi, dolor dolore ex facilis fuga hic illo illum impedit iste, itaque labore modi natus
      nisi officia omnis provident quaerat quam quas qui repellendus sapiente tempora veritatis vitae voluptas
      voluptatem voluptatibus. Corporis eaque earum expedita ipsa ipsam placeat quaerat sapiente vitae. Accusamus
      aliquid aperiam asperiores consectetur cupiditate dignissimos eligendi expedita, explicabo fuga harum iste iusto
      libero maiores minima minus molestiae mollitia nemo neque, perspiciatis placeat quam quasi quo rem saepe sunt
      tenetur totam unde? Accusamus aliquam aliquid consequatur cumque debitis deserunt, dicta dolorem doloribus earum
      eius eligendi est fugiat hic in laboriosam magni minus quam quas quis, rem sapiente sint ullam vero voluptatum.
    </div>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error expedita facere impedit laboriosam
      necessitatibus, nemo neque perspiciatis recusandae repellat. A animi cum, dignissimos earum eos exercitationem
      iure maiores modi, non, quaerat quam quis recusandae rerum soluta voluptate! A ab accusamus accusantium ad alias
      assumenda aut beatae commodi, dolor dolore ex facilis fuga hic illo illum impedit iste, itaque labore modi natus
      nisi officia omnis provident quaerat quam quas qui repellendus sapiente tempora veritatis vitae voluptas
      voluptatem voluptatibus. Corporis eaque earum expedita ipsa ipsam placeat quaerat sapiente vitae. Accusamus
      aliquid aperiam asperiores consectetur cupiditate dignissimos eligendi expedita, explicabo fuga harum iste iusto
      libero maiores minima minus molestiae mollitia nemo neque, perspiciatis placeat quam quasi quo rem saepe sunt
      tenetur totam unde? Accusamus aliquam aliquid consequatur cumque debitis deserunt, dicta dolorem doloribus earum
      eius eligendi est fugiat hic in laboriosam magni minus quam quas quis, rem sapiente sint ullam vero voluptatum.
    </div>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, aliquam at consequuntur culpa cupiditate
      dolorem doloribus est et fugit, illo ipsa natus odit officiis perferendis reiciendis velit voluptate? Neque,
      ratione veniam. Accusamus adipisci alias amet ea error excepturi expedita, illo iste magnam minima minus nam
      necessitatibus nemo nisi nobis officia officiis perspiciatis provident quas quia quis rem repellendus voluptate.
      Ad adipisci, asperiores aspernatur eligendi esse odio? Accusamus, atque consequuntur cumque dolor eaque illum
      minus recusandae sapiente sit voluptates! Beatae dolor facere nemo ullam? Atque eum, exercitationem fuga itaque
      rem repellendus sit ut. Atque cum repellendus reprehenderit velit. Cum cupiditate ea eligendi enim exercitationem
      molestias quia quibusdam quo repellat, sed. A amet architecto asperiores aut consectetur cumque enim error, esse
      facere impedit ipsum iure, maiores minima modi mollitia nemo nisi nulla porro praesentium, quam quod quos
      recusandae reiciendis rerum sequi ullam velit. Ab, adipisci aspernatur deserunt dignissimos distinctio dolore et
      illo minima molestiae nisi, recusandae sequi! Accusamus animi dolores enim ex facere id necessitatibus, numquam
      obcaecati perspiciatis reprehenderit voluptatem voluptatum. Deserunt doloremque facilis ipsam repellendus.
      Architecto deleniti ex fugit laboriosam minus omnis quasi, quibusdam sed tenetur vitae! Alias consequatur deleniti
      inventore ipsum laborum molestias mollitia? Aspernatur esse odit omnis sed totam voluptas voluptatibus. Animi
      assumenda beatae corporis cum cumque debitis deleniti, dicta dignissimos dolore, ducimus esse est eveniet
      exercitationem impedit laudantium magnam nam necessitatibus nemo nihil numquam odio perspiciatis quaerat
      reiciendis rem repellat rerum suscipit tempore ullam vero voluptates? Asperiores ex iste qui? Adipisci amet
      aspernatur assumenda blanditiis corporis eos esse ex in nisi quidem quisquam rem voluptatem, voluptates? Cum odit
      repudiandae rerum. Assumenda beatae dolor dolorem dolorum ea eveniet ex, pariatur porro provident quos tenetur
      voluptates voluptatum. A ab animi at, autem blanditiis consectetur cumque cupiditate debitis doloremque ducimus
      eligendi esse excepturi fugit id laudantium libero maxime molestias necessitatibus nesciunt nobis numquam officiis
      pariatur placeat praesentium quam reiciendis repellendus temporibus! Aspernatur assumenda at atque commodi
      consequuntur corporis cumque dolor dolores, error, ex harum illum iusto necessitatibus numquam quidem quo
      reiciendis rem repudiandae, sint unde! Deleniti eos ipsam iste libero nobis pariatur, perferendis quam ratione
      reprehenderit? Accusantium commodi culpa ex facere ipsa labore libero, totam. Adipisci delectus, ea illum ipsa
      quisquam repellendus sapiente suscipit voluptatem. At ipsa nihil quam quisquam repudiandae voluptatibus? Commodi
      fuga itaque laudantium neque pariatur repudiandae veniam veritatis. Ad alias, corporis ea eligendi eos facilis
      fugit impedit minus natus nesciunt nisi quaerat quas tenetur! Dicta dolor eaque labore libero sed, voluptatum.
      Aliquid eligendi fugit in, iste iusto magni nam possimus. Aliquam aperiam culpa distinctio dolor dolorem eos est
      eum facilis fugit in laboriosam libero nam nesciunt obcaecati odio, pariatur porro quam quia saepe sapiente totam
      veniam, voluptas. Atque exercitationem ipsa quia tempora! Ab asperiores consequatur culpa cumque dicta distinctio
      dolor doloribus eaque eos esse excepturi facilis illum ipsam laboriosam laborum minima molestias non officia optio
      possimus quasi reiciendis repudiandae sapiente similique, sint suscipit, temporibus, ullam velit veritatis
      voluptas. Deleniti deserunt, doloribus eaque esse laboriosam, nesciunt, nobis numquam omnis quaerat rerum saepe
      sequi! Aliquam, animi asperiores aut dicta eveniet harum impedit iusto, labore mollitia optio pariatur qui
      quibusdam!
    </div>

  </q-page>
</template>

<script>
import {defineComponent, ref} from 'vue';

export default defineComponent({
  name: 'Railings',

  setup() {
    return {
      slide: ref('first')
    }
  }

})
</script>


<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)
</style>
