<template>
  <q-page class="text-center text-brown-1">
    <div>{{ $t('About') }}</div>



    <q-icon size="22px" name="torii"/>

    <div>A company profile is an introduction to your business, and aims to tell an audience about your products or
      services. However, a company profile shouldn't just tell your audience what you sell -- it should also tell
      viewers why you sell it. A company profile often includes a compelling story about how the company began, as well
      as the company's vision and values.
    </div>


    <div class="flex-center text-amber">Variant 2 cards</div>


    <div class="bg-brown-10 text-brown-1 q-pa-md row flex-center q-gutter-xl">
      <q-card class="my-card">
        <a href="/category/gates">
          <q-img src="https://media.makler.md/production/an/original/000/017/500/000017500488.jpg">
            <div class="absolute-bottom text-subtitle2 text-center">
              {{ $t('Gates') }}
            </div>
          </q-img>
        </a>
      </q-card>

      <q-card class="my-card">
        <a href="/category/railings">
          <q-img src="https://itpmet.ru/gallery/photos-slides-fullsize/5c0fb92b7467e_perila-2.jpg">
            <div class="absolute-bottom text-subtitle2 text-center">
              {{ $t('Railings') }}
            </div>
          </q-img>
        </a>
      </q-card>

      <q-card class="my-card">
        <a href="/category/fences">
          <q-img
            src="https://lh3.googleusercontent.com/proxy/1WvkEqbOUbYRmpUO6bLU0JAU54_c0d0vKSll7ZF3Ko7Eb5bfusiITns_qqToqyfo9FVARYIoRoInvDAPA8oZFFXOFSsCwOBVVUq8huRx0qpqoeR3uO2lrMfZMCJbMLYtEbyL2qVaClKFhOAdPLKXbd_DUQiecj1xuGC-hndlCgpw">
            <div class="absolute-bottom text-subtitle2 text-center">
              {{ $t('Fences') }}
            </div>
          </q-img>
        </a>
      </q-card>

      <q-card class="my-card">
        <a href="/category/gates">
          <q-img src="https://media.makler.md/production/an/original/000/017/500/000017500488.jpg">
            <div class="absolute-bottom text-subtitle2 text-center">
              {{ $t('Gates') }}
            </div>
          </q-img>
        </a>
      </q-card>

      <q-card class="my-card">
        <a href="/category/railings">
          <q-img src="https://itpmet.ru/gallery/photos-slides-fullsize/5c0fb92b7467e_perila-2.jpg">
            <div class="absolute-bottom text-subtitle2 text-center">
              {{ $t('Railings') }}
            </div>
          </q-img>
        </a>
      </q-card>

      <q-card class="my-card">
        <a href="/category/fences">
          <q-img
            src="https://lh3.googleusercontent.com/proxy/1WvkEqbOUbYRmpUO6bLU0JAU54_c0d0vKSll7ZF3Ko7Eb5bfusiITns_qqToqyfo9FVARYIoRoInvDAPA8oZFFXOFSsCwOBVVUq8huRx0qpqoeR3uO2lrMfZMCJbMLYtEbyL2qVaClKFhOAdPLKXbd_DUQiecj1xuGC-hndlCgpw">
            <div class="absolute-bottom text-subtitle2 text-center">
              {{ $t('Fences') }}
            </div>
          </q-img>
        </a>
      </q-card>
    </div>


    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi, atque autem beatae consectetur cum cumque
      delectus deleniti ea, esse eum eveniet excepturi incidunt ipsam molestiae neque placeat quasi quidem quis quisquam
      quos ratione sapiente soluta vel vero vitae voluptatem? Accusamus aliquid architecto at consequatur consequuntur
      cupiditate debitis dicta, enim esse ex inventore magni maiores maxime minima molestias nesciunt, non numquam,
      optio quae recusandae reprehenderit repudiandae vitae. Ab commodi id libero, molestias nesciunt nostrum
      perspiciatis quae sit ut voluptatibus? Ad autem consequuntur earum explicabo incidunt laborum obcaecati quasi? A
      esse fugiat laboriosam nemo perferendis praesentium quae. Accusamus accusantium aliquam amet animi architecto
      assumenda aut cumque deserunt dolore doloribus ducimus enim esse eum excepturi explicabo fuga illo ipsa ipsam iure
      laboriosam laborum maiores, minima molestiae nemo nihil nobis, nulla obcaecati officiis pariatur perspiciatis
      porro quibusdam similique tenetur totam unde, velit voluptate? Cumque error magnam magni nostrum voluptatem?
      Adipisci alias aliquid assumenda autem eligendi ipsum itaque labore, nemo obcaecati odit quos tenetur totam ullam
      velit, vitae? Architecto aspernatur assumenda atque consectetur consequuntur cumque debitis delectus deserunt
      distinctio dolor dolorem enim expedita explicabo fuga hic laborum libero minus molestiae nam natus necessitatibus
      nihil nisi non nostrum numquam perferendis possimus praesentium quam quis reiciendis reprehenderit sequi sit,
      soluta sunt unde voluptate voluptatibus! Ad, amet animi autem debitis deserunt ea fugiat hic, impedit incidunt
      ipsum magni non possimus quia quis, quisquam ratione repellendus sit sunt tenetur voluptate? Accusamus beatae
      blanditiis eius et fugiat hic laborum molestias saepe! Accusamus adipisci beatae commodi corporis eligendi eos est
      eum eveniet fugiat harum, hic id iure maxime molestiae nam nobis quasi quia quod, reiciendis sequi sint temporibus
      vero voluptatibus. Dolore facilis impedit minus molestias pariatur voluptas? Aspernatur autem consectetur
      doloremque fuga ipsam iste possimus reprehenderit, sed totam? A amet architecto atque aut blanditiis consequatur
      debitis deleniti eaque exercitationem fuga hic impedit in, labore magni nam necessitatibus neque nobis possimus
      provident quae quia quibusdam ratione temporibus ullam voluptates? Asperiores, modi, voluptatem. A ab incidunt
      inventore iusto libero nobis sequi voluptates. Amet dicta error et magnam modi nisi odit, praesentium quasi vel
      voluptates. Ad architecto dolore ipsa maiores necessitatibus omnis optio porro quasi recusandae vitae? Aliquam
      architecto eligendi enim explicabo fugit quo reiciendis repellat suscipit tempore vel! Animi asperiores atque
      commodi cum, earum enim facere hic laudantium molestiae molestias quibusdam, ratione reprehenderit tenetur ut
      veritatis. Adipisci atque, fugit in labore nesciunt nisi quisquam recusandae reiciendis rem reprehenderit soluta
      velit. A ab accusantium adipisci architecto aspernatur aut commodi eaque eius explicabo fugit iste iusto magnam
      maiores, obcaecati omnis porro quam repudiandae similique, sint temporibus tenetur unde ut vero vitae voluptate?
      Autem blanditiis culpa cum debitis, dolore eaque explicabo harum, ipsa iure nam omnis optio quo reiciendis
      reprehenderit sed tempora, veritatis. At beatae consequuntur est explicabo fugiat, inventore ipsam laboriosam
      quibusdam velit voluptatibus. Assumenda debitis, dolorum eligendi enim, esse et ex fuga illo, laboriosam nemo
      numquam perspiciatis quidem quod quos velit. Aspernatur ipsa reiciendis similique totam! Accusamus, autem
      cupiditate dolore error eveniet, explicabo illo inventore non officiis recusandae rerum vel. Magni nostrum quos
      tempora tenetur. Alias dignissimos dolor eius mollitia nam placeat recusandae sunt veritatis voluptatem
      voluptatum. Dolor, explicabo, nam. Ad adipisci beatae consequatur deleniti eius eveniet excepturi fuga impedit
      minima obcaecati quos sit, veritatis voluptates. Aut doloribus et excepturi molestiae nemo nesciunt quasi quia sit
      ut voluptate! Ad aperiam deserunt expedita inventore nihil officia sequi ut. Accusantium amet dolorum fugit ipsam
      obcaecati officiis quidem temporibus voluptas. Aliquid amet aspernatur autem consequatur deserunt fugiat fugit
      libero molestias necessitatibus nobis reiciendis repellat totam, ut. Alias assumenda at consectetur consequuntur
      dignissimos ea eaque et excepturi facilis iure molestias natus, officia optio quasi, quia quos reiciendis
      repudiandae suscipit vitae voluptate. Accusamus, accusantium aperiam architecto asperiores assumenda consequatur
      consequuntur cumque ea eos hic illum in numquam odio quas qui quidem sequi totam ut vero voluptatum! Debitis earum
      excepturi id minima, possimus ut veritatis! Debitis excepturi iure libero perspiciatis quis sit! Amet at eaque ex
      facilis iste iusto libero nisi optio sed ullam. Accusantium asperiores commodi debitis distinctio dolore eius
      error esse et fugiat hic id illo ipsa itaque laudantium libero molestias natus, nobis odit officia perferendis
      quibusdam quis quod quos recusandae reprehenderit sequi sunt voluptatum? Aut earum laborum minima possimus
      quibusdam suscipit. Adipisci libero nesciunt sit. Corporis, eligendi error et facere fuga inventore odio
      reprehenderit veritatis voluptas.
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores, at atque aut blanditiis corporis
      delectus deleniti eaque earum eligendi exercitationem explicabo fuga fugit id ipsum magni, maxime molestiae
      mollitia natus nihil nostrum odit officiis perspiciatis placeat provident quasi quia ratione temporibus tenetur
      ullam unde ut vel vitae! Aliquam aliquid consectetur consequatur cum cupiditate dolor dolore dolores dolorum
      ducimus eum facilis fugiat fugit id itaque iusto maxime minima minus modi molestias provident quae quam quibusdam,
      quisquam quod reiciendis sit veritatis voluptas. Est facere modi perferendis quibusdam saepe tempora. Accusamus ad
      aliquam cupiditate distinctio eos eveniet, fuga, illo incidunt, nesciunt nisi odio optio recusandae reiciendis rem
      sapiente sequi tempora unde ut vel vero? Consectetur consequatur distinctio dolorem ducimus hic laudantium
      officiis quis.
    </div>


  </q-page>
</template>

<script>
import {defineComponent, ref} from 'vue';

export default defineComponent({
  name: 'About',

  setup() {
    return {
      expanded: ref(false),
      expanded2: ref(false),
      expanded3: ref(false),
    }
  }

})
</script>



<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 500px
  color: #000000

</style>
