<template>
  <q-page class="text-center text-brown-1">
    <div>{{ $t('Contact') }}</div>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut consectetur cum dolorem et exercitationem
      natus nesciunt odio optio quidem quod sapiente sed sint sit unde vitae, voluptas! Ipsa neque nesciunt nihil odit,
      ratione sit tempore? Accusamus animi atque delectus distinctio ducimus error fugit illo inventore magni maxime
      necessitatibus, possimus quaerat, quia recusandae, sint vitae!
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis ea eaque eligendi eos, esse
      illo impedit minus nesciunt, odit quaerat qui soluta. Ab alias aperiam asperiores atque blanditiis culpa deserunt
      dicta dolor dolorem dolores, doloribus eos facere facilis fugit harum illum minima nobis, quae quam quibusdam quod
      repudiandae saepe sapiente totam, vero! Ab, aut autem blanditiis consectetur deleniti deserunt, dolorum eum fugiat
      iste itaque maiores maxime minima necessitatibus nulla numquam porro qui quibusdam quis quo reiciendis repellat
      sapiente sint soluta totam ut vel veniam voluptatem? Accusantium dolore dolorem explicabo fugiat laudantium
      mollitia ratione tenetur. A aperiam consequatur dolor doloremque eligendi eos error inventore maxime optio totam!
      Aliquid, facilis maxime officia quae quas voluptatum. Accusamus assumenda dicta doloremque eius enim eos facilis
      iure minus nesciunt nulla optio quia quidem repudiandae sapiente sit, temporibus voluptas. Beatae fugit in
      molestias odit quis. Accusantium expedita natus nisi nulla quas quasi quos ratione sed suscipit, voluptatem!
      Aliquid debitis ducimus eos est eum itaque, laudantium libero molestias officiis perferendis, quaerat quam quasi
      rerum similique totam. Asperiores aut, est ex fugit ipsa itaque iusto, nobis nostrum placeat, provident quas rem
      repellendus! Ad deserunt dolor laudantium. Adipisci alias blanditiis consequatur culpa debitis dicta dignissimos
      eaque earum eligendi et, illum ipsa iure libero magnam maiores minima, nihil non odio odit officiis praesentium
      quasi quis unde ut veritatis. Adipisci aspernatur dolores in iusto, neque numquam rem tenetur veniam! Aliquam
      corporis doloribus eveniet ipsa labore nulla perspiciatis possimus quas qui velit? Ab commodi est pariatur quis
      velit! Assumenda autem dignissimos doloribus, esse fuga harum itaque labore molestias odit ratione sed ullam velit
      veniam. Ad aliquam architecto autem deleniti dolore dolorem dolores eius ex excepturi explicabo, labore magnam,
      minima nesciunt non odit officiis pariatur possimus quasi quidem quod rerum similique sunt unde vero voluptatem!
      Accusamus blanditiis corporis eum obcaecati officiis porro provident quam quos repellat sit? A ab accusamus
      aliquam asperiores aut autem consequuntur cum debitis distinctio dolore eligendi error esse explicabo facilis fuga
      fugiat illo ipsa itaque iusto, maxime nihil non pariatur quibusdam quidem quisquam, quod reiciendis rem repellat
      sit soluta tempora temporibus velit vitae voluptate voluptatem voluptatibus voluptatum. Cum dignissimos explicabo
      itaque, laudantium non quisquam sunt vel! In, ipsam, laborum! Deleniti ea error fuga fugit ipsa iste
      necessitatibus non praesentium veritatis vero. Cum ducimus molestiae obcaecati quae! Adipisci corporis distinctio
      earum eveniet fugit ipsa numquam quaerat sint sit vitae? Dolor et explicabo iure molestias officiis possimus
      quaerat quos voluptates. Aliquid neque officia officiis suscipit. Architecto et eum molestiae perferendis tempora
      ut voluptates! A assumenda autem consequuntur cumque deleniti dolore, doloremque ea esse ex explicabo fuga, fugiat
      incidunt ipsa laborum molestiae nobis pariatur provident quam quasi quidem quod ratione vel velit veritatis
      voluptate voluptatibus.
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at blanditiis consequuntur esse ex illum
      impedit ipsa ipsam libero officiis omnis optio pariatur porro quaerat quasi quibusdam quidem quos saepe, sed sit
      suscipit temporibus totam ullam veniam vitae! Ab aliquam beatae consectetur dolores dolorum eaque et ex illum,
      ipsa itaque modi natus nostrum porro reiciendis, reprehenderit sint sit totam. Adipisci, commodi consequuntur
      corporis dolores exercitationem iure magni nam odio pariatur, quisquam recusandae saepe, sit tempore unde velit.
      Consequatur cupiditate debitis doloremque doloribus eos fugiat nisi non placeat quasi quibusdam quod sunt tempora,
      veniam. Adipisci, atque cum dolore doloribus dolorum exercitationem fugiat inventore iusto modi nulla,
      perspiciatis placeat provident quibusdam sequi totam! At dolorem dolores nulla numquam! Ad architecto, asperiores
      aut commodi consectetur dolor dolores doloribus eius facere hic in inventore ipsum iste iure laboriosam laudantium
      mollitia necessitatibus officiis quaerat, quam qui quidem rerum veniam. A ab aliquid architecto aspernatur commodi
      cum cumque dicta dignissimos esse ex excepturi, exercitationem fuga harum laudantium odio odit officia quasi
      recusandae repellat rerum similique soluta tenetur ullam ut voluptatum. Adipisci animi autem dolore doloribus eius
      error eum fugiat maiores mollitia nam neque nihil nobis odit, optio, quibusdam recusandae saepe sint vero
      voluptate voluptatum? Accusamus facere necessitatibus numquam quia, quisquam repudiandae sed veniam. Accusantium
      atque delectus deleniti distinctio ducimus et harum libero, molestias nam obcaecati officia quae quaerat quia
      quidem sequi. At consequuntur dolore eaque impedit, modi quae quaerat quos rem sint. Consequuntur impedit iusto
      nostrum, quas quis reprehenderit rerum soluta? Consequatur facilis laboriosam nihil nulla provident suscipit!
      Consequuntur cumque cupiditate deserunt doloribus explicabo iure modi necessitatibus quidem, sint! Ab accusamus
      aperiam cum molestiae officia quam quasi soluta. Esse odit omnis, quod reiciendis rem sed sunt voluptatibus?
      Aperiam ea harum id libero molestias non qui quibusdam rem repellat soluta? Animi aspernatur eveniet nam, nulla
      omnis placeat quae quisquam quo tempora voluptas. Autem corporis delectus dicta doloribus dolorum ducimus earum
      esse ex exercitationem fuga id illum in inventore ipsum itaque iusto magnam minus molestiae natus necessitatibus
      nemo neque nihil nobis officia officiis perferendis porro quae quibusdam rem reprehenderit saepe sed sequi unde ut
      velit voluptate, voluptatem. Eligendi ex illo nobis, porro quasi rem rerum temporibus vel. Aperiam commodi,
      cupiditate deleniti, distinctio doloremque eaque eius eos error facilis, fugit magnam molestias nisi nulla officia
      officiis quibusdam ratione repellendus voluptatum. Ad aliquam animi aperiam blanditiis consequatur consequuntur
      dignissimos dolor ducimus earum eligendi enim error facere inventore laboriosam laborum minima minus nam nulla
      numquam, odio officia quis quisquam rem reprehenderit sit sunt temporibus tenetur. At atque autem consequuntur
      cumque debitis dolor dolores enim esse est facere fugiat id incidunt, ipsa itaque laboriosam mollitia
      necessitatibus nihil odit quam quas quasi quia quidem quis rerum, similique tempora voluptas voluptates. Adipisci
      commodi cumque doloremque id inventore molestias nisi reiciendis?
    </div>

  </q-page>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'Contact'
})
</script>
