<template>
  <q-page class="text-center text-brown-1">
    <div>{{ $t('Main') }}</div>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, consequatur et fuga iure laboriosam
      maxime neque repudiandae soluta. Dignissimos fugit ipsum nam porro repellendus repudiandae, rerum. Amet aspernatur
      dolores excepturi fuga fugit illo natus nemo, neque placeat provident repellendus sit ullam voluptatibus! Aut
      consectetur officia rerum tenetur. Accusamus, aperiam atque autem consequatur deleniti distinctio doloribus eius
      ex excepturi facere fuga id numquam odio praesentium provident qui quia quod recusandae reiciendis repellat rerum
      sapiente soluta, temporibus voluptas voluptate voluptates voluptatibus voluptatum? Aliquid assumenda enim eos
      error est facilis ipsa labore, libero maxime, minima molestiae nemo nesciunt quod ratione rerum sequi sit velit,
      veniam vitae voluptatem. Accusamus accusantium corporis cumque dignissimos dolores dolorum earum incidunt
      laudantium minus non quae, reiciendis sit, tempora tempore ullam ut, vero voluptas?
    </div>


    <div class="flex-center text-amber">Variant 1 (Paralax)</div>


    <div class="bg-brown-10 text-brown-1 q-pa-md row flex-center q-gutter-xl">
      <q-card class="my-card">
        <a href="/category/gates">
          <q-parallax
            src="https://media.makler.md/production/an/original/000/017/500/000017500488.jpg"
            :height="350"
          />
        </a>
        <div class="q-pa-md">
          <q-expansion-item
            v-model="expanded"
            icon="perm_identity"
            :label="$t('Gates')"
            :caption="$t('Details')"
          >
            <q-card>
              <q-card-section>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </div>
      </q-card>

      <q-card class="my-card">
        <a href="/category/railings">
          <q-parallax
            src="https://itpmet.ru/gallery/photos-slides-fullsize/5c0fb92b7467e_perila-2.jpg"
            :height="350"
          />
        </a>
        <div class="q-pa-md">
          <q-expansion-item
            v-model="expanded2"
            icon="perm_identity"
            :label="$t('Railings')"
            :caption="$t('Details')"
          >
            <q-card>
              <q-card-section>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </div>
      </q-card>

      <q-card class="my-card">
        <a href="/category/fences">
          <q-parallax
            src="https://forvardplast.ru/800/600/https/images.ru.prom.st/643838552_w640_h640_kovanoe-ograzhdenie-s.jpg"
            :height="350"
          />
        </a>
        <div class="q-pa-md">
          <q-expansion-item
            v-model="expanded3"
            icon="perm_identity"
            :label="$t('Fences')"
            :caption="$t('Details')"
          >
            <q-card>
              <q-card-section>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </div>
      </q-card>

      <q-card class="my-card">
        <a href="/category/gates">
          <q-parallax
            src="https://media.makler.md/production/an/original/000/017/500/000017500488.jpg"
            :height="350"
          />
        </a>
        <div class="q-pa-md">
          <q-expansion-item
            v-model="expanded"
            icon="perm_identity"
            :label="$t('Gates')"
            :caption="$t('Details')"
          >
            <q-card>
              <q-card-section>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </div>
      </q-card>

      <q-card class="my-card">
        <a href="/category/railings">
          <q-parallax
            src="https://itpmet.ru/gallery/photos-slides-fullsize/5c0fb92b7467e_perila-2.jpg"
            :height="350"
          />
        </a>
        <div class="q-pa-md">
          <q-expansion-item
            v-model="expanded2"
            icon="perm_identity"
            :label="$t('Railings')"
            :caption="$t('Details')"
          >
            <q-card>
              <q-card-section>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </div>
      </q-card>

      <q-card class="my-card">
        <a href="/category/fences">
          <q-parallax
            src="https://forvardplast.ru/800/600/https/images.ru.prom.st/643838552_w640_h640_kovanoe-ograzhdenie-s.jpg"
            :height="350"
          />
        </a>
        <div class="q-pa-md">
          <q-expansion-item
            v-model="expanded3"
            icon="perm_identity"
            :label="$t('Fences')"
            :caption="$t('Details')"
          >
            <q-card>
              <q-card-section>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </div>
      </q-card>
    </div>

        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis distinctio dolor hic provident quod
      sequi similique vel. Consectetur deleniti dolore ducimus eos facilis fugit iure non omnis ratione voluptates.
      Adipisci aperiam assumenda distinctio doloremque dolorum eaque iste itaque laudantium magnam minus nemo nisi,
      obcaecati omnis porro quaerat quisquam quos recusandae reprehenderit, sunt voluptates? Accusamus commodi
      consequatur consequuntur cum, esse expedita ipsum magnam molestias necessitatibus perferendis quas qui repellat
      voluptatum! Ad amet autem beatae consequuntur culpa cupiditate dignissimos, dolores doloribus ea eos esse et
      eveniet expedita facere in inventore itaque libero molestias nulla odit pariatur quidem recusandae repellat sed
      sint suscipit totam voluptate. Aliquam, amet animi aspernatur assumenda atque corporis dolore dolores et ex
      exercitationem id incidunt minus modi provident quibusdam repellendus temporibus vitae voluptatibus. Alias cum
      exercitationem harum ipsum laudantium omnis, quaerat rerum vitae! Ab accusamus aspernatur beatae cum dolorem
      doloremque eos et, eum fuga hic impedit ipsum laboriosam nostrum odio, officia perspiciatis provident quae quia
      quibusdam sapiente similique suscipit, vel vitae. Cum deleniti ea, eaque exercitationem iure iusto maiores
      mollitia natus nemo neque nostrum perspiciatis quam, quibusdam quo saepe sequi temporibus ullam voluptatum.
      Debitis quidem quis unde ut vitae! In iusto libero maiores omnis. Architecto consequuntur cum expedita incidunt
      ipsam, nam pariatur quas quia vero. Architecto consectetur consequatur consequuntur dignissimos dolore doloremque
      eius fuga, magnam mollitia nihil nobis sint veniam vitae. Aliquid, assumenda commodi consequatur, corporis
      distinctio doloremque doloribus eos, eum eveniet ex expedita facere id in ipsum laborum mollitia numquam obcaecati
      odit pariatur quisquam quos repudiandae rerum sed totam vero? Amet beatae consequatur deleniti dolor excepturi
      molestias sunt suscipit temporibus unde veritatis. Accusamus ad blanditiis deleniti, eius fuga labore magnam
      maxime mollitia nihil non numquam officiis porro praesentium quo repellendus temporibus totam! Consequatur, magni
      non. Alias commodi consectetur deserunt dignissimos ducimus ea enim est hic iste laboriosam, necessitatibus
      nesciunt nobis nulla porro reiciendis rem similique veniam voluptatibus. Alias autem, debitis delectus dolor
      itaque laborum minus necessitatibus non nulla perspiciatis quos repellat sint, temporibus veritatis voluptas
      voluptatem voluptatibus. Accusamus aliquam aliquid amet animi atque aut autem beatae consectetur corporis
      cupiditate deserunt ea eligendi enim est eum facere harum illo inventore laudantium minima nam nostrum obcaecati
      perferendis placeat possimus provident quas, quia quod sequi tenetur totam, voluptate voluptatibus voluptatum? Ab
      accusantium asperiores beatae culpa, cumque cupiditate ducimus ea enim excepturi exercitationem expedita id
      incidunt iure laudantium magni minima nemo nostrum optio pariatur perferendis placeat quo repudiandae sint ullam
      velit vero vitae. Ad adipisci aliquid at consequuntur, culpa deserunt dolorem eius eum facilis iure iusto
      laudantium maxime non, provident, similique tenetur voluptatem. Amet asperiores assumenda consequuntur culpa
      ducimus earum esse et facere, fuga, ipsam molestias neque nihil non obcaecati optio quis, sit suscipit
      voluptatibus. Assumenda atque earum, eligendi error fugiat fugit iste laborum magnam molestias mollitia nesciunt,
      officia, pariatur quasi quidem repellat soluta vel velit voluptatem. Consequatur dignissimos doloremque ex fugiat
      fugit magnam, molestiae numquam quis, sint tempora, totam voluptas. Accusantium asperiores aut consequatur
      distinctio dolores earum eligendi est expedita fuga inventore iste magni molestiae nam neque numquam placeat porro
      quia quis quod quos reiciendis, repellat repudiandae temporibus tenetur totam. Nobis, quo, voluptas! Accusantium
      aperiam corporis dolorum eos est, laboriosam maxime nam, necessitatibus nemo odit officiis quasi quibusdam
      quisquam suscipit tenetur totam veritatis! Aliquid illo impedit, iusto officiis placeat unde. A aliquid ex,
      laborum molestiae obcaecati odit sed voluptatem? Assumenda at autem commodi deserunt dicta distinctio earum eos
      iusto nam, nobis, non officia possimus quae quisquam rem repellat reprehenderit soluta, ut? Blanditiis
      consequuntur cum dignissimos distinctio dolorum enim eveniet, excepturi, explicabo fuga fugit impedit, incidunt
      libero placeat quidem quos rem repellat repellendus sed sit sunt tempora totam ut veritatis. Ad autem blanditiis
      cumque dolores dolorum ea est ex fugit illo laborum mollitia nam natus neque nostrum odio officiis possimus,
      praesentium provident quam qui repellat unde velit voluptatibus? Aperiam deleniti, quibusdam! Ad dignissimos eos
      eveniet iusto nemo nulla odio odit reprehenderit? Aperiam atque error esse fugiat nesciunt quod recusandae
      sapiente. Alias blanditiis consequatur distinctio eligendi est excepturi expedita impedit in incidunt labore,
      laboriosam molestiae nostrum nulla provident quam, quo recusandae repellat sed sequi similique sint soluta
      voluptate? Animi at distinctio doloribus exercitationem fugit inventore, ipsum libero, mollitia nemo, nesciunt
      nostrum optio pariatur repellendus tempora totam. Accusantium ipsam non quo? Accusantium adipisci autem eaque
      facere harum laudantium minus perferendis perspiciatis quibusdam quod quos recusandae repellendus repudiandae,
      similique vero vitae voluptate! A ab ad aperiam atque autem culpa dolor dolorum, eveniet impedit inventore iste
      nam non perferendis quas qui quidem quisquam sed sequi ullam ut. A alias delectus earum maiores odio perferendis
      quo suscipit unde. Aut, beatae cupiditate dolorem exercitationem hic ipsam maiores minus neque obcaecati quasi
      quibusdam reprehenderit repudiandae voluptates? Accusamus blanditiis dicta distinctio doloribus dolorum eum
      explicabo facere hic, laboriosam libero mollitia natus nobis numquam obcaecati provident quam rerum temporibus
      tenetur totam voluptates? Illo laudantium nulla quibusdam reiciendis. Adipisci animi cum ea eius et expedita
      facilis ipsa maxime minus molestiae natus neque nesciunt numquam officia officiis, possimus, quae quis repellendus
      suscipit tempore temporibus vel veritatis voluptas. Dicta dolor eos ex illo libero necessitatibus, neque nostrum
      pariatur porro quas rem rerum voluptates voluptatibus? Minima, rerum, suscipit? Ad commodi delectus fugit incidunt
      inventore ipsum magnam magni quibusdam sed velit. Delectus eligendi, facere facilis illo in ipsa libero minima
      neque provident voluptas? Architecto asperiores illo qui reiciendis suscipit. Ab ad aspernatur autem dolore, fugit
      id ipsam nemo nulla obcaecati pariatur quae quo tempore vitae! Alias consequuntur culpa, dolorem dolores facere
      facilis illo illum incidunt ipsum laudantium maiores neque numquam odio odit perferendis, praesentium quaerat qui
      recusandae, reprehenderit sint! Necessitatibus, nobis voluptatem. Deleniti incidunt, itaque nulla officiis quae
      quidem vel voluptatum. Aliquid deleniti, omnis. Animi assumenda aut distinctio, earum eius error exercitationem
      facilis fuga maiores omnis quam quia repellat soluta ullam, voluptate. Aliquam aliquid amet beatae commodi
      cupiditate dicta et impedit magnam mollitia nulla numquam omnis porro, quam quisquam saepe soluta unde vitae.
      Aspernatur corporis, debitis deserunt facere nostrum repellat. Alias aliquam, magnam minima officiis quia quos
      vitae. Corporis perspiciatis, possimus. Ad adipisci iusto non odio officiis? A eaque explicabo harum, inventore
      ipsam nihil tempora unde. Accusantium aliquam aut autem consectetur dolore ea et eum expedita fuga impedit neque
      nihil nostrum odio placeat quae qui quos ratione recusandae reprehenderit saepe, sapiente sint vero vitae voluptas
      voluptates? Architecto dicta eligendi, eos id ipsum minima nisi nulla placeat, ratione repellendus reprehenderit
      unde ut vero. Adipisci animi consequatur culpa debitis et eum ex facere illum iure molestiae odio, pariatur
      praesentium quas sed, sequi vero voluptas voluptates? Animi dignissimos ea eum illo, pariatur provident repellat
      tempora. Adipisci at beatae consectetur, delectus et expedita explicabo hic incidunt magnam, magni maiores natus
      necessitatibus nesciunt, nobis nostrum numquam obcaecati odio placeat quas quia quibusdam quisquam ratione
      recusandae repudiandae rerum saepe sequi vel vitae voluptatem voluptates. Accusantium alias animi aut commodi
      distinctio dolore et, ipsam natus nemo porro quas voluptate! Aperiam aut autem beatae cum eius optio, sit unde!
      Cum dolores, ea eveniet fugiat ipsum laudantium magni maiores officiis placeat porro quis repudiandae, sunt
      tempore totam ullam veniam voluptas. Ab ad animi aperiam architecto, aspernatur at autem consectetur consequatur
      cumque deserunt dignissimos, doloremque ducimus ex excepturi facere id illo illum impedit ipsam magnam magni
      maiores minima molestiae nemo nisi odio optio perspiciatis possimus provident quasi quidem quod sapiente suscipit,
      temporibus ullam ut vel?
    </div>

  </q-page>
</template>

<script>
import {defineComponent, ref} from 'vue';

export default defineComponent({
  name: 'MainPage',

  setup() {
    return {
      expanded: ref(false),
      expanded2: ref(false),
      expanded3: ref(false),
    }
  }

})
</script>


<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 500px
  color: #000000

</style>
