<template>
  <q-page class="text-center text-brown-1">
    <div>{{ $t('Services') }}</div>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aspernatur deserunt doloremque enim,
      excepturi explicabo fuga iste, minima numquam quasi quibusdam quidem quis quo recusandae saepe sed vel vitae.
      Accusamus asperiores blanditiis enim facilis illum nam, neque omnis quisquam repellendus sapiente sint soluta
      suscipit tempora velit vero, voluptatem voluptates! Dolorum impedit ipsa ipsum necessitatibus nulla perferendis
      rem, voluptatem. Accusantium cupiditate distinctio doloribus eius error et fugiat illo iusto magnam molestias
      optio repellendus, repudiandae similique vero vitae. Aperiam aut, dolorem doloremque doloribus ea eaque eos est ex
      facere iusto libero maxime, nihil obcaecati possimus provident saepe tenetur! Amet aspernatur aut dignissimos
      dolore ea et excepturi explicabo facere, illum labore laboriosam laudantium magni minima necessitatibus odio optio
      perferendis rerum voluptas voluptates voluptatum? Adipisci aliquid architecto at est facilis illo in ipsam itaque
      labore, laudantium minus mollitia porro, quisquam reprehenderit totam velit veniam vero voluptates. Aperiam
      architecto aspernatur atque blanditiis consequatur cumque dolorum eaque eligendi fuga harum inventore ipsa iste
      iusto magni maiores mollitia nemo nobis obcaecati odio omnis pariatur possimus quibusdam quidem, quisquam quod
      repellat sapiente sint sit sunt suscipit tempore totam vel voluptatum. Dolorem eaque, esse laboriosam laudantium
      praesentium quam sunt voluptates? A alias asperiores deserunt ea eius eligendi esse exercitationem facere
      inventore iste minus quae quia quidem quod quos, repellat totam? Accusamus corporis, enim iure obcaecati placeat
      provident quos? Distinctio ex in ipsam, itaque molestias nihil provident tempore. Adipisci atque beatae culpa,
      doloribus dolorum inventore magnam neque nisi nobis odit officia, perspiciatis placeat quae recusandae rem!
      Corporis facilis illo ipsa, mollitia quaerat sed. Assumenda, consectetur cupiditate deleniti dolores ea explicabo,
      fuga nihil nostrum quasi sed tempore tenetur. Aliquid, dignissimos ducimus enim exercitationem, explicabo facilis
      harum ipsum iusto mollitia non nostrum perspiciatis quasi quibusdam quidem reprehenderit velit voluptatem?
      Laboriosam laborum nam natus, neque omnis unde voluptas. Cupiditate deleniti est fugiat, libero omnis porro
      possimus. Beatae consequatur delectus dignissimos distinctio dolorem, dolores est, ex facilis, fuga fugit
      inventore magnam modi molestias numquam officia quae quidem ratione repellat rerum vitae? Cum ipsam labore
      mollitia sequi voluptatum! Ab aspernatur assumenda aut corporis culpa deleniti dignissimos dolores eaque esse
      explicabo fugit id, ipsum itaque minima nobis numquam officia quos ratione repudiandae sapiente sunt ut veniam
      vero voluptatem voluptatum. Accusantium delectus enim et eum eveniet expedita harum incidunt placeat possimus rem.
      Dolorem error esse omnis reiciendis! Dolores enim explicabo illum maiores maxime nam omnis quaerat quibusdam
      veniam. Magnam tempore, voluptate. Aliquam amet consequatur, enim exercitationem illo ipsam minima molestias
      obcaecati perspiciatis placeat praesentium quis sed similique sint, temporibus voluptate voluptatum! At debitis
      dolore dolorum facilis harum inventore molestiae nam natus temporibus voluptates. Amet aspernatur atque aut autem
      corporis delectus distinctio enim facilis impedit incidunt ipsam itaque laboriosam modi nam natus nemo nulla
      obcaecati odit, pariatur saepe tempore temporibus voluptates! Accusantium asperiores aut, doloribus ducimus, iste
      magni numquam perferendis praesentium quasi sit unde veritatis voluptas! Adipisci aliquam aliquid amet aperiam
      aspernatur assumenda culpa cumque debitis delectus dolor dolores doloribus, enim error eum ex fugit, hic illo
      impedit incidunt inventore ipsa molestiae natus necessitatibus, nobis officia officiis omnis optio quaerat quas
      reprehenderit sapiente sequi sint unde ut veritatis vitae voluptas? Alias autem in laudantium molestias provident!
      Assumenda dolorum, eligendi facilis hic illo neque officiis perspiciatis provident, quas repellat repellendus
      repudiandae sapiente totam. Amet autem illum odio officia quos! Alias, aliquam beatae, cum dicta molestias nihil
      nostrum, numquam odit sequi veritatis vitae voluptates!
    </div>

  </q-page>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'Services'
})
</script>
