<template>
  <q-footer elevated class="bg-dark">
    <q-toolbar>
      <q-toolbar-title class="row flex-center">
        <span class="text-overline text-grey-6">Copyright &copy; 2021-{{ this.getCurrentYear }} MetalViu All Rights Reserved</span>
      </q-toolbar-title>
    </q-toolbar>
  </q-footer>
</template>

<script>

import {defineComponent, ref} from 'vue'


export default defineComponent({
  name: 'Footer',
  computed: {
    getCurrentYear() {
      return new Date().getFullYear();
    }


  }
})
</script>
