<template>
  <q-header reveal elevated class="q-dark">


    <div class="row justify-center items-center full-width">
      <div class="col">
        <q-btn flat class="text-overline text-brown-3 items-center text_menu" :ripple="{ center: true }"
               :label="$t('Main')"
               to="/"></q-btn>
      </div>
      <div class="col">
        <q-btn flat class="text-overline text-brown-3 items-center text_menu" :ripple="{ center: true }"
               :label="$t('About')"
               to="/about"></q-btn>
      </div>

      <div class="justify-center">
        <img
          v-if="$q.screen.width >= 1030"
          alt="Quasar logo"
          src="http://artkoffka.md/wp-content/uploads/2017/05/logo-496x300.png"
        />
      </div>

      <div class="col">
        <q-btn flat class="text-overline text-brown-3 items-center text_menu" :ripple="{ center: true }"
               :label="$t('Services')"
               to="/services"></q-btn>
      </div>
      <div class="col">
        <q-btn flat class="text-overline text-brown-3 items-center text_menu" :ripple="{ center: true }"
               :label="$t('Contact')"
               to="/contact"></q-btn>
      </div>
      <div class="col">
        <LanguageSwitcher/>
      </div>
    </div>
  </q-header>


</template>

<script>
import {defineComponent, ref} from 'vue'
import {useQuasar} from 'quasar'
import LanguageSwitcher from "components/LanguageSwitcher.vue";


export default defineComponent({
  name: 'Header',

  components: {
    LanguageSwitcher
  },

  setup() {
    const $q = useQuasar()
  },

})
</script>

<style scoped>
.text_menu {
  font-size: 14px;
}

</style>
