<template>
  <q-select
    v-model="locale"
    :options="localeOptions"
    label="Language"
    bg-color="brown-3"
    dense
    borderless
    emit-value
    map-options
    style="float:right; min-width: 100px;"
  />

</template>

<script>
import {useI18n} from 'vue-i18n'

export default {
  setup() {
    const {locale} = useI18n({useScope: 'global'})

    return {
      locale,
      localeOptions: [
        {value: 'ru-RU', label: 'Русский'},
        {value: 'ro-RO', label: 'Romana'},
        {value: 'en-US', label: 'English'}
      ]
    }
  }
}
</script>
