<template>
  <q-header elevated class="q-dark">

    <div class="row justify-center items-center full-width">
      <div class="col">
        <q-toolbar>
          <q-btn
            flat
            dense
            round
            icon="menu"
            aria-label="Menu"
            @click="toggleLeftDrawer"
          />
        </q-toolbar>
      </div>

    </div>
  </q-header>


  <q-drawer
    v-model="leftDrawerOpen"
    width="225"
    side="left"
    overlay
    elevated
    dark
    style="color: #bcaaa4;"
  >
    <q-list>
      <q-item-label
        header
        class="text-grey-8"
      >
        Menu
      </q-item-label>
      <q-item
        clickable
        tag="a"
        :href="category.link"
        v-for="category in essentialLinks"
        :key="category.title"
        v-bind="category"
      >
        <q-item-section
          v-if="category.icon"
          avatar
        >
          <q-icon :name="category.icon"/>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ $t(category.title) }}</q-item-label>
          <q-item-label>
            {{ $t(category.caption) }}
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-drawer>


</template>

<script>
import {defineComponent, ref} from 'vue'
import {useQuasar} from 'quasar'

const linksList = [
  {
    title: 'Gates',
    caption: 'Modern, Classic, Loft',
    icon: 'home_work',
    link: '/category/gates'
  },
  {
    title: 'Gates',
    caption: 'Modern, Classic, Loft',
    icon: 'house',
    link: '/category/gates'
  },
  {
    title: 'Railings',
    caption: 'Modern, Classic, Loft',
    icon: 'code_off',
    link: '/category/railings'
  },
  {
    title: 'Fences',
    caption: 'Modern, Classic, Loft',
    icon: 'fence',
    link: '/category/fences'
  },
  {
    title: 'Fences',
    caption: 'Modern, Classic, Loft',
    icon: 'stacked_bar_chart',
    link: '/category/fences'
  }, {
    title: 'Fences',
    caption: 'Modern, Classic, Loft',
    icon: 'line_style',
    link: '/category/fences'
  },
];

export default defineComponent({
  name: 'Sidebar',


  setup() {
    const $q = useQuasar()
    const leftDrawerOpen = ref(false)
    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
    }
  },

})
</script>

<style scoped>
.text_menu {
  font-size: 14px;
}

</style>
