<template>
  <router-view />
</template>
<script>
import { defineComponent } from 'vue';
import firebase from 'firebase';

export default defineComponent({
  name: 'App'
})

const firebaseConfig = {
  apiKey: "AIzaSyCScvfMBeTQQk6e8DCz1PlrFHwekXLrsqY",
  authDomain: "metalviu-ee94f.firebaseapp.com",
  databaseURL: "https://metalviu-ee94f-default-rtdb.europe-west1.firebasedatabase.app",
  projectId: "metalviu-ee94f",
  storageBucket: "metalviu-ee94f.appspot.com",
  messagingSenderId: "784731388879",
  appId: "1:784731388879:web:2e3943440be93a363530ba",
  measurementId: "G-JB5QZM90YZ"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
firebase.analytics();

</script>
