<template>
  <q-layout view="lHh Lpr fff" class="bg-dark text-brown-3">
    <q-header class="bg-dark text-brown-3" height-hint="64">
      <q-toolbar class="GPL__toolbar" style="height: 300px">
        <q-btn
          flat
          dense
          round
          @click="toggleLeftDrawer"
          aria-label="Menu"
          icon="menu"
          class="q-ma-xs-md"
        />

        <div class="row justify-center items-center full-width">
          <div class="col">
            <q-btn flat class="text-overline text-brown-3 items-center text_menu" :ripple="{ center: true }"
                   :label="$t('Main')"
                   to="/"></q-btn>
          </div>
          <div class="col">
            <q-btn flat class="text-overline text-brown-3 items-center text_menu" :ripple="{ center: true }"
                   :label="$t('About')"
                   to="/about"></q-btn>
          </div>

          <div class="justify-center">
            <img
              v-if="$q.screen.width >= 1030"
              alt="Quasar logo"
              src="http://artkoffka.md/wp-content/uploads/2017/05/logo-496x300.png"
            />
          </div>

          <div class="col">
            <q-btn flat class="text-overline text-brown-3 items-center text_menu" :ripple="{ center: true }"
                   :label="$t('Services')"
                   to="/services"></q-btn>
          </div>
          <div class="col">
            <q-btn flat class="text-overline text-brown-3 items-center text_menu" :ripple="{ center: true }"
                   :label="$t('Contact')"
                   to="/contact"></q-btn>
          </div>

          <div class="col">
            <LanguageSwitcher/>
          </div>

        </div>

      </q-toolbar>
    </q-header>


    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      behavior="mobile"
      @click="leftDrawerOpen = false"
      class="bg-dark text-brown-9"
    >
      <q-scroll-area class="fit">
        <q-toolbar class="GPL__toolbar">
          <q-toolbar-title class="row items-center text-grey-8">
            <img class="q-pl-md"
                 src="../assets/logo-110x100.png">
            <span class="q-ml-sm"></span>
          </q-toolbar-title>
        </q-toolbar>

        <q-separator class="q-my-md"/>

        <q-list padding>
          <q-item v-for="menu in mainMenu" :key="menu.text" :to="menu.url" clickable class="GPL__drawer-item">
            <q-item-section avatar>
              <q-icon :name="menu.icon"/>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ $t(menu.text) }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-my-md"/>

          <q-item v-for="category in categories" :key="category.text" :to="category.url" clickable
                  class="GPL__drawer-item">
            <q-item-section avatar>
              <q-icon :name="category.icon"/>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ $t(category.text) }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-my-md"/>

        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container class="GPL__page-container">
      <router-view/>

      <q-page-sticky v-if="$q.screen.gt.sm" expand position="left">
        <div class="fit q-pt-xl q-px-sm column">
          <q-btn round flat color="grey-8" to="/category/gates" stack no-caps size="26px" class="GPL__side-btn">
            <q-icon size="22px" name="home_work"/>
            <div class="GPL__side-btn__label">{{ $t('Gates') }}</div>
            <q-badge floating color="red" text-color="white" style="top: 8px; right: 16px">
              Акция
            </q-badge>
          </q-btn>

          <q-btn round flat color="grey-8" to="/category/railings" stack no-caps size="26px" class="GPL__side-btn">
            <q-icon size="22px" name="code_off"/>
            <div class="GPL__side-btn__label">{{ $t('Railings') }}</div>
          </q-btn>

          <q-btn round flat color="grey-8" to="/category/fences" stack no-caps size="26px" class="GPL__side-btn">
            <q-icon size="22px" name="line_style"/>
            <div class="GPL__side-btn__label">{{ $t('Fences') }}</div>
          </q-btn>

        </div>
      </q-page-sticky>
    </q-page-container>

    <Footer/>

  </q-layout>
</template>

<script>
import {ref} from 'vue'
import Footer from 'components/Footer.vue'
import LanguageSwitcher from "components/LanguageSwitcher";

export default {
  name: 'CategoryLayout',

  components: {
    LanguageSwitcher,
    Footer,
  },

  setup() {
    const leftDrawerOpen = ref(false)
    const search = ref('')
    const storage = ref(0.26)

    function toggleLeftDrawer() {
      leftDrawerOpen.value = !leftDrawerOpen.value
    }

    return {
      leftDrawerOpen,
      search,
      storage,
      mainMenu: [
        {icon: 'archive', text: 'Main', url: '/'},
        {icon: 'archive', text: 'About', url: '/about'},
        {icon: 'delete', text: 'Services', url: '/services'},
        {icon: 'delete', text: 'Contact', url: '/contact'}
      ],
      categories: [
        {icon: 'home_work', text: 'Gates', url: '/category/gates'},
        {icon: 'house', text: 'Gates', url: '/category/gates'},
        {icon: 'code_off', text: 'Railings', url: '/category/railings'},
        {icon: 'fence', text: 'Fences', url: '/category/fences'},
        {icon: 'stacked_bar_chart', text: 'Fences', url: '/category/fences'},
        {icon: 'line_style', text: 'Fences', url: '/category/fences'},
      ],
      toggleLeftDrawer
    }
  }
}
</script>

<style lang="sass">
.GPL
  &__toolbar
    height: 64px

  &__toolbar-input
    width: 35%

  &__drawer-item
    line-height: 24px
    border-radius: 0 24px 24px 0
    margin-right: 12px

    .q-item__section--avatar
      padding-left: 12px

      .q-icon
        color: #5f6368

    .q-item__label:not(.q-item__label--caption)
      color: #3c4043
      letter-spacing: .01785714em
      font-size: .875rem
      font-weight: 500
      line-height: 1.25rem

    &--storage
      border-radius: 0
      margin-right: 0
      padding-top: 24px
      padding-bottom: 24px

  &__side-btn
    &__label
      font-size: 12px
      line-height: 24px
      letter-spacing: .01785714em
      font-weight: 500

  @media (min-width: 1024px)
    &__page-container
      padding-left: 94px
</style>
